
<!DOCTYPE html>
<html>
  <head>
    <title>speed</title>
    <script data-main="/javascript/config" src="/javascript/libs/require.js"></script>
  </head>
  <body>
    <!-- header-->
	<div class="header navbar navbar-default" role="navigation">
	  <div class="container-fluid" ui-view="header"></div>
	</div>
	<!--body-->
	<div class="body page-container" ui-view>
		
	</div>
  </body>
</html>